
<!--todo copy layout of facebook signup page-->

<section id="convince">
<div class="page-header">
  <h1>Welcome to Grouptxt <small>The <b>free</b> &amp; easy way to text groups of people.</small></h1>
</div>

<div class="row">
  <div class="span9 columns">
    <h2>1. Sign up</h2>
    <h2>2. Get a free group number</h2>
    <h2>3. Add your friends and start texting</h2>
  </div>
  <div class="span3 columns">
    <%= render 'form' %>
  </div>
</div>

<!--todo workout textmate shortcut for next line-->
