<script type="text/javascript">
window.onload = function() {
  document.getElementById('user_name').focus();
};

jQuery(function($){
   $("#user_number").mask("99999999999");
});

</script>
<div class="row" style="margin-top:15px">
<!--todo copy layout of facebook signup page-->

<section id="convince">

<div class="row">
  <div class="span6 columns offset2">
    <h3>It's like <u>reply all</u> over SMS</h3>
  </div>
  <div class="span4 columns">
    <%= render 'form' %>
  </div>
</div>
</div>