<script type="text/javascript">
window.onload = function() {
  document.getElementById('user_name').focus();
}
</script>
<!--todo copy layout of facebook signup page-->

<section id="convince">

<div class="row">
  <div class="span6 columns offset2">
    <h2>1.) Sign up now</h2>
    <h2>2.) Get a free group number</h2>
    <h2>3.) Add your friends and start texting</h2>
  </div>
  <div class="span4 columns">
    <%= render 'form' %>
  </div>
</div>

<!--todo workout textmate shortcut for next line-->
