<% if @group.errors.any? %>
<div id="error_explanationx" class="alert-message block-message error">
  <h2><%= pluralize(@group.errors.count, "error") %> prohibited this user from being saved:</h2>
  <ul>
    <% @group.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>